
*{
    margin: 0px;
    padding: 0px;
}
body{
    background: hsl(0, 0%, 98%);
    font-family: 'Poppins', sans-serif;
    height: 0px auto;
}
/*.clearfix{
    clear: both;
    float: none;
}*/

/*Heading style*/
#wrap{
    
    width: 100%;
}

#head{
    display: block;
    width: 1250px;
    margin: 0px auto;
    text-align: center;
    margin-bottom: 40px;
} 

.first-title{

font-family: 'Poppins';
font-size:  35px;
font-weight:300;
margin-top: 4%;
color: hsl(234, 12%, 34%);

}
.second-title{
    font-size:  35px;
    color: hsl(234, 12%, 34%);
    font-weight: 600;
}
.subtitle{
    font-weight: 400;
    color: hsl(229, 6%, 66%);
    margin-top: 1%;
    line-height: 26px;
}

/*Containers style*/

#containers{
    background: white;
    width: 1250px;
    margin: 0% auto;
    display: flex;
    justify-content: center;
    background:  hsl(0, 0%, 98%);
    
    
    
}
.supervisor{
    background-color: white;
    width: 280px;
    padding: 30px;
    margin: 15px;
    height: 200px;
    border-radius: 5px;
    box-shadow: 0 10px 20px rgb(0 0 0 / 5%), 0 6px 6px rgb(0 0 0 / 10%);
    position: relative;
    overflow: hidden;
    transform: translateY(50%);
    border-top: 4px solid hsl(180, 62%, 55%);
    
    
}
.team-builder{
    background-color: white;
    width: 280px;
    padding: 30px;
    height: 200px;
    margin: 15px;
    border-radius: 5px;
    box-shadow: 0 10px 20px rgb(0 0 0 / 5%), 0 6px 6px rgb(0 0 0 / 10%);
    position: relative;
    overflow: hidden;
    border-top: solid 4px hsl(0, 78%, 62%);
     }
.karma{
    background-color: white;
    padding: 30px;
    height: 200px;
    width: 280px;
    border-radius: 5px;
    box-shadow: 0 10px 20px rgb(0 0 0 / 5%), 0 6px 6px rgb(0 0 0 / 10%);
    position: absolute;
    overflow: hidden;
    margin: 310px;
    border-top:  solid 4px  hsl(34, 97%, 64%);
}
    
    
.calculator{
    background-color: white;
    width: 280px;
    padding: 30px;
    height: 200px;
    margin: 15px;
    border-radius: 5px;
    box-shadow: 0 10px 20px rgb(0 0 0 / 5%), 0 6px 6px rgb(0 0 0 / 10%);
    position: relative;
    overflow: hidden;
    transform: translateY(50%);
    border-top: solid 4px hsl(212, 86%, 64%);
}

.h2-style{
         font-size: 21px;
         color: hsl(234, 12%, 34%);
}
     
.p-style{
         font-size: 13px;
         color: hsl(229, 6%, 66%);
         margin-top: 10px;
         line-height: 1.8;
}
.img{
         float: right;
         width: 71px;
         margin-top: 49px;
 }

 /*Responsive*/
@media(max-width:1142px){
   
    #containers{
          width: 1000px;
          position: relative;
          display: block;
          margin: 0px auto;
      
      }
      .supervisor{
          width: 40%;
          transform: none;
          position: relative;
          overflow: visible;
      }
      .team-builder{
          width: 40%;
          float: right;
          overflow: visible;
      }
      .supervisor, .team-builder{
          display: inline-block;
      }
      .karma, .calculator{
          display: inline-block;
      }
      .karma{
          width: 40%;
          
          position: relative;
          margin:  0px auto;
          float: left;
          overflow: visible;
         
      }
      .calculator{
          width: 40%;
          transform:none;
          position:relative;
          float: right;
          overflow: visible;
         
          
      }
      #containers, .supervisor,  .team-builder, .karma, .calculator{
          margin: 35px -99px 0px 50px;
      }
  }
  @media(max-width:968px){
      #head{
          width: 900px;
  
      }
      .first-title{
          font-size:  40px;
      }
      .second-title{
          font-size:  40px;
  
      }
      .subtitle{
          font-size: 20px;
          line-height: 40px;
      }
      #containers{
          width: 900px
        
      
      }
      .supervisor{
          width: 30%;
          
      }
      .team-builder{
          width: 30%;
          
      }
    
      .karma{
          width: 30%;
          
         
         
      }
      .calculator{
          width: 30%;
          
      }
      #containers, .supervisor,  .team-builder, .karma, .calculator{
          margin: 37px 70px 0px 50px
      }
      .h2-style{
          font-size: 23px;
      }
      .p-style{
          font-size: 15px;
      }
      .img{
          width: 54px;
          margin-top: 42px;
           }
  
  }
  
  @media(max-width:522px){
      #head{
          width: 936px;
          text-align: center;
  
      }
      .first-title{
          font-size:  58px;
      }
      .second-title{
          font-size:  58px;
  
      }
      .subtitle{
          font-size: 25px;
          line-height: 40px;
          margin-top:28px;
      }
      #containers{
          display: flex;
          flex-direction:column;
          align-items: center;
          margin-top: 28px;
      }
      .supervisor{
          width: 80%;
          height:213px;
          
      }
      .team-builder{
          width: 80%;
          height:213px;
          
      }
    
      .karma{
          width: 80%;
          height:213px;
          
         
         
      }
      .calculator{
          width: 80%;
          height:213px;
          
      }
      .h2-style{
          font-size: 40px;
      }
      .p-style{
          font-size: 26px;
      }
      .img{
          width: 83px;
          margin-top: 10px;
           }
   .team-builder .img{
    margin-top: -26px;
  
   }
   .calculator .img{
       margin-top: -23px;
   }
  
  }
    

     